langchain==0.3.25
langchain-community==0.3.24
langchain-ollama==0.3.3
langchain-core==0.3.65
langchain-text-splitters==0.3.8
psycopg2-binary==2.9.12
pgvector==0.4.2
sentence-transformers==5.6.0
python-dotenv==1.2.2
huggingface-hub==0.33.1
datasets==3.6.0
rouge-score==0.1.2
nltk==3.9.4
bert-score==0.3.13
matplotlib==3.11.0
deep-translator==1.11.4
langdetect==1.0.9